<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">
<head>
    <title>Edit Member</title>
</head>
<body class="d-flex flex-column">
    <!-- Page Content-->
    <section class="py-5" layout:fragment="body">
        <div class="container px-5 my-5">
            <form class="row g-3" method="post" role="form" th:action="@{/members/{memberId}/edit(memberId=${members.id})}" th:object="${members}">
                <input type="hidden" th:field="*{id}">
                <div class="col-md-6">
                    <label class="form-label" for="firstName">First name</label>
                    <input class="form-control"
                           id="firstName"
                           type="text"
                           placeholder="First Name"
                           name="firstName"
                           th:field="*{firstName}">
                    <p th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}"></p>
                </div>
                <div class="col-12 mb-3">
                    <label class="form-label" for="lastName">Last name</label>
                    <input class="form-control"
                           id="lastName"
                           type="text"
                           placeholder="Last Name"
                           name="lastName"
                           th:field="*{lastName}">
                    <p th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}"></p>
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control"
                           id="email"
                           type="email"
                           placeholder="Email"
                           name="email"
                           th:field="*{email}">
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Create</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>